<ion-header>
  <ion-toolbar>
    <ion-title slot="start"><h1>Company Assets</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="wrapper-items">
    <div class="single-items-group active" id="trucks" (click)="openTrucks()">
      <div class="group-header">
        <h2>Trucks</h2>
        <div class="icons-toggle">
          <ion-icon name="arrow-up" id="opened"></ion-icon>
          <ion-icon name="arrow-down" id="closed"></ion-icon>
        </div>
      </div>

      <div class="group-body">
        <div class="single-item" *ngFor="let truck of trucks">
          <div class="pic">
            <img src="{{truck.image}}" />
          </div>
          <div class="name">{{truck.id}}</div>
          <div class="category">{{truck.category}}</div>
          <div class="state-managed">S{{truck.measure}}</div>
          <div class="current">{{truck.measureVal}}</div>
          <div class="status">{{truck.status}}</div>
          <div class="btn">
            <button (click)="view(truck.id)">
              <i>View Asset</i> <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="single-items-group" id="cars" (click)="openCars()">
      <div class="group-header">
        <h2>Cars</h2>
        <div class="icons-toggle">
          <ion-icon name="arrow-up" id="opened"></ion-icon>
          <ion-icon name="arrow-down" id="closed"></ion-icon>
        </div>
      </div>

      <div class="group-body">
        <div class="single-item" *ngFor="let car of cars">
          <div class="pic">
            <img src="{{car.image}}" />
          </div>
          <div class="name">{{car.id}}</div>
          <div class="category">{{car.category}}</div>
          <div class="state-managed">S{{car.measure}}</div>
          <div class="current">{{car.measureVal}}</div>
          <div class="status">{{car.status}}</div>
          <div class="btn">
            <button (click)="view(car.id)">
              <i>View Asset</i> <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="single-items-group" id="refs" (click)="openRefs()">
      <div class="group-header">
        <h2>Fridges</h2>
        <div class="icons-toggle">
          <ion-icon name="arrow-up" id="opened"></ion-icon>
          <ion-icon name="arrow-down" id="closed"></ion-icon>
        </div>
      </div>

      <div class="group-body">
        <div class="single-item" *ngFor="let r of fridges">
          <div class="pic">
            <img src="{{r.image}}" />
          </div>
          <div class="name">{{r.id}}</div>
          <div class="category">{{r.category}}</div>
          <div class="state-managed">S{{r.measure}}</div>
          <div class="current">{{r.measureVal}}</div>
          <div class="status">{{r.status}}</div>
          <div class="btn">
            <button (click)="view(r.id)">
              <i>View Asset</i> <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="single-items-group" id="gens" (click)="openGens()">
      <div class="group-header">
        <h2>Generators</h2>
        <div class="icons-toggle">
          <ion-icon name="arrow-up" id="opened"></ion-icon>
          <ion-icon name="arrow-down" id="closed"></ion-icon>
        </div>
      </div>

      <div class="group-body">
        <div class="single-item" *ngFor="let g of gens">
          <div class="pic">
            <img src="{{g.image}}" />
          </div>
          <div class="name">{{g.id}}</div>
          <div class="category">{{g.category}}</div>
          <div class="state-managed">S{{g.measure}}</div>
          <div class="current">{{g.measureVal}}</div>
          <div class="status">{{g.status}}</div>
          <div class="btn">
            <button (click)="view(g.id)">
              <i>View Asset</i> <ion-icon name="search"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
