<ion-header>
  <ion-toolbar>
    <ion-title>Asset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="wrapper-items">
    <div class="single-items-group active" id="trucks">
      <div class="group-header">
        <h2>Truck</h2>
        <div class="icons-toggle">
          <ion-icon name="info-circle" id="opened"></ion-icon>
        </div>
      </div>

      <div class="group-body">
        <div class="single-item">
          <div class="pic">
            <img src="" />
          </div>
          <div class="name"></div>
          <div class="category"></div>
          <div class="state-managed"></div>
          <div class="current"></div>
          <div class="status"></div>
          <div class="btn"><button>View Asset</button></div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
